.home__image {  
  height: 100%;
  width: 60%;
  box-shadow: 0 0 10px 5px var(--pale-blue);
}

.home__container {
  display: flex;
  flex-direction: row;
  margin: 4em;
}

.home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  font-size: 1.2rem;
  padding-left: 1em;
}

.home__info hr {
  border: 1px solid var(--blueish);
  width: 80%;
}

@media (max-width: 768px) {
  .home__container {
    flex-direction: column;
    margin: 0;
  }

  .home__image {
    width: 80%;
    margin: auto;
    margin-top: 2em;
  }

  .home__info {
    width: 100%;
    padding: 2em;
  }
}