@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.navbar {
  margin: 0;
  width: 100%;
  text-align: center;
}

.navbar__title {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navbar__title a {
  text-decoration: none;
  color: #000;
}

.navbar__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.navbar__links a {
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding: 0 30px;
}

.navbar__links a:last-child {
  border-right: none;
}

.navbar__links a.active {
  color: #b67772
}

.navbar__links a.disabled {
  color: #a2b6b7;
  pointer-events: none;
}

@media (max-width: 768px) {
  .navbar__links {
    flex-direction: column;
  }
  .navbar__links a {
    border-right: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }
  .navbar__links a:last-child {
    border-bottom: none;
  }
}