@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.navbar {
  margin: 0;
  width: 100%;
  text-align: center;
}

.navbar__title {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navbar__links a {
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding: 0 30px;
}

.navbar__links a:last-child {
  border-right: none;
}

.navbar__links a.active {
  color: #b67772
}