@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Amatic+SC:wght@700&family=Great+Vibes&display=swap');

html, body, .root {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* color vars */
:root {
  --pale-blue: #a2b6b7;
  --blueish: #385563;
  --pink: #b67772;
  --red: #68121b;
  --orange: #8e3c0d;
  --sage: #bdcaae;
  --dork-green: #2d4e47;
  --plum: #500433;
}


* {
  box-sizing: border-box;
}

main {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: rgba(219, 219, 219, 0.92);
}

@media (max-width: 768px) {
  main {
    width: 90%;
  }
}